.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    width: 100%;
  }


  .form-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    justify-content: space-between;
    padding: 2em;
  }

  input{
    border: 0px solid #ccc;
    border-radius: 4px;
    padding: 1em;
  }

  #name, #email, #password{
    width: 100%;
  }

  

  input:focus{
    outline: 1px solid #a5a5a5;
  }

  .input-error{
    outline: 1px solid #fd3e3e;
  }

  .input-field{
    display: flex;
    gap: 1em;
    align-items: center;
  }

  .password-toggle{
    width: 2.5em;
    height: 2.5em;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  select{
    border: 0px solid #ccc;
    border-radius: 4px;
    padding: 0.5em;
    color: #213547;
    font-weight: 600;
  }

  select:focus {
    outline: 1px solid #a5a5a5;
  }

  .button-login{
    margin-top: 2em;
    box-shadow: 0 0px 10px rgba(56, 56, 56, 0.055);
  }